<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://localhost:8080/p/styles/style.css" rel="stylesheet"  type="text/css">
    <title>Main page</title>
</head>
<body>
    <header>
        <div id="header_name">
            HeaderName
        </div>
    </header>

    <main>
        <div id="content">
            <div id="form_expression">
                <form>
                    <div id="form_label"> 
                        <label> Enter the expression </label>
                    </div>
                    <div id="form_textbox"> 
                        <input type="text" id="textbox" placeholder="x^2 + 4x + 3 = 0">
           
                        <button type="submit" id="button"> Solve </button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer>
    </footer>
</body>
</html>