<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://localhost:8080/p/styles/style.css" rel="stylesheet"  type="text/css">
    <title>MathBot</title>
    <script src="http://localhost:8080/p/scripts/switch_mode.js"></script>
    <script src="http://localhost:8080/p/dist/input.bundle.js"></script>
</head>


<body>

    <header>
        <div id="header_name">
            MathBot
        </div>
    </header>

    <main>
        <div id="bot">
            <img src="http://localhost:8080/p/image/bot.png" id="bot_icon">
            <div id="bot_content">
                <div id="bot_text"> Result:  </div>
            </div>
        </div>

        <div id="user">
            <img src="http://localhost:8080/p/image/user.png" id="user_icon">
            <div id="user_content">
                <div id="user_text"> Question:  </div>
            </div>
        </div>

        <div id="input_user">
            <div id="form_expression">
                    <div id="form_label"> 
                        <label> Enter the expression </label>
                    </div>
                    <div id="form_textbox">
                        <input autocomplete="off" type="text" class="textbox" id="a" placeholder="A">
                        <div class="constbox">X²</div>
                        <div class="constbox">+</div>
                        <input autocomplete="off" type="text" class="textbox" id="b" placeholder="B">
                        <div class="constbox">X</div>
                        <div class="constbox">+</div>
                        <input autocomplete="off" type="text" class="textbox" id="c" placeholder="C">
                        <div class="constbox">=</div>
                        <div class="constbox">0</div>
           
                        <button onclick="send_input()" id="button"> Solve </button>
                    </div>
               
            </div>
        </div>
    </main>

    <aside>
        <div id="functions">
            <button onclick="switch_mode(1)" class="function"> Text </button>
            <button onclick="switch_mode(2)" class="function"> Photo </button>
            <button onclick="switch_mode(3)" class="function"> Paint </button>
        </div>
    </aside>

    <footer>
        <div id="description">
            soon
        </div>
    </footer>
</body>
</html>