header, footer { 
  display: block;
  height: 5vh;
  background-color: #738dc3;
  z-index: 1;
}



main {
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 50%;
  background-color: #fff;
  justify-content: center;
  margin: 0 auto;
  z-index: 0;
}

#content {
  text-align: center;
  position: fixed;
  top: 85%;
}

#header_name {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2.0em;
  color: #fafafa;
}

#form_expression {
  height: 80px;
  background-color: #fafafa;
  border-radius: 20px;
}

#form_button, #form_label {
  margin: 5px;
}

#button {
  background-color: white;
  color: black;
  border-radius: 10px;
  border-color: darkgrey;
}

#textbox {
  background-color: white;
  color: black;
  border-radius: 20px;
  border-color: darkgrey;
  text-align: center;
}


body {
  font-family: "system-ui", Helvetica, Arial, sans-serif;
  margin: 0;  
  padding: 0;
  background-color: #fafafa;
  overflow-x: hidden;
}

