body {
  font-family: "system-ui", Helvetica, Arial, sans-serif;
  margin: 0;  
  padding: 0;
  background-color: #fafafa;
  overflow-x: hidden;
}

header { 
  display: flex;
  min-height: 5vh;
  justify-content: center;
  background-color: #5468ff;
  z-index: 1;
}

#header_name {
  display: flex;
  font-weight: bold;
  font-size: 2.0em;
  color: #fff;
}

#panel {
  display: flex;
  position: fixed;
  left: 90%;
  padding: 4px;
}

.panel {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  height: 40px;
  width: 40px;
}


main {
  display: flex;
  padding: 0;
  justify-content: center;
  height: 95vh;
  width: 50%;
  background-color: #fff;
  margin: 0 auto;
  z-index: 0;
}

#input_user {
  text-align: center;
  position: fixed;
  top: 82%;
}

#form_expression {
  height: 80px;
  padding: 10px;
  background-color: #fafafa;
  border-radius: 20px;
}

#form_button, #form_label {
  margin: 5px;
}

#button {
  background-color: white;
  color: black;
  border-radius: 10px;
  border-color: darkgrey;
}

.textbox {
  display: inline-block;
  align-content: center;
  height: 30px;
  width: 30px;
  background-color: white;
  color: black;
  border-radius: 20px;
  border-color: darkgrey;
  text-align: center;
}



.constbox {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: white;
  color: black;
  border: 2px darkgrey solid;
  text-align: center;
}


#bot_content {
  position: fixed;
  left: 32%;
  top: 60%;
  background-color: #e7e0e0;
  width: 200px;
  height: 100px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

#bot_text {
  margin-left: 10px;
  margin-top: 10px;
}

#bot_icon {
  position: fixed;
  left: 28%;
  top: 60%;
  width: 50px;
  height: 50px;
}

#user_content {
  position: fixed;
  left: 58%;
  top: 70%;
  background-color: #e7e0e0;
  width: 200px;
  height: 100px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
}

#user_text {
  margin-left: 10px;
  margin-top: 10px;
}

#user_icon {
  position: fixed;
  left: 70%;
  top: 70%;
  width: 50px;
  height: 50px;
}

#functions {
  position: fixed;
  top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.function {
  position: relative;
  top: 44%;
  min-width: 90px;
  margin-left: 70px;
  margin-right: 70px;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}


.function:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.function:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.function:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}